.photo {
    height: 50px;
    width: 100px;
  }


 .text-color-sidebar {
   color: white;
 }

 .divider-color-white {
   background-color: white;
 }


 .box-shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2) ;
}

.position-box{
 /*overflow: auto;
 background-color: green;*/
 align-items: flex-end;
 text-align: right;
/* display: flex;*/
}

.position-logout{
  background-color: green;
  align-items: right;
  text-align: right;
}

.container-list {
  padding: 1px 50px 30px;
  width: 100%;
}

.ListUsers {
  align-items: flex-end;
  text-align: right;
  padding: 10px 10px 10px;
}

 